[submodule "repositories/Kerbal-Batch-Scripts"]
	path = repositories/Kerbal-Batch-Scripts
	url = https://github.com/Eli112358/Kerbal-Batch-Scripts.git
	branch = docs
[submodule "minecraft/realm"]
	path = minecraft/realm
	url = https://github.com/Eli112358/eli112358.github.io.git
	branch = Minecraft-Realm
[submodule "social-data-getter"]
	path = social-data-getter
	url = https://github.com/Eli112358/social-data-getter-js.git
[submodule "ksp-modpack-builder"]
	path = kerbal-space-program\\modpack-builder
	url = https://github.com/Eli112358/ksp-modpack-builder.git
[submodule "prime-time"]
	path = prime-time
	url = https://github.com/Eli112358/prime-time.git
