.requires-has {
    display: none;
}
.requires-has-strike {
    text-decoration: line-through;
}
@supports selector(:has(*)) {
    .has-error {
        display: none;
    }
    .requires-has {
        display: block;
    }
    .requires-has-strike {
        text-decoration: revert;
    }
}
